@charset "UTF-8";

/* Configurações gerais */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
}

body {
    background-color: rgb(58, 58, 255);
}

h1 {
    color: white;
    text-shadow: 2px 2px 0px rgb(0, 0, 63) ;
    padding: 10px;
}