@charset "utf-8"

* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    background-image: linear-gradient(to right, #87646B, #FFA072 );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(80, 59, 63, 0.568);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #FFA072 ;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(82, 39, 39, 0.815);
}

h2 {
    color: #87646B;

p {
    text-align: justify;
}